body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin:0px;
    padding:0px;
}

.mine_li {
	/*background:#00C;*/
	width:20%; 
	height:20%; 
	float:left;	
}

.mine_img {
	width:50%;
}

.hud_li {
	/*background:#00C;*/
	color:#FFF;
	width:13.5%; 
	height:100%; 
	float:left;	
}